#top {
  background-image: url('./front-page-group-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5rem;
}

a {
  font-size: 1.25rem !important;
}

a:hover {
  cursor: pointer;
}

.input-group-text {
  background-color: white !important;
  border: none !important;
}

.form-control {
  border: none;
}

#left-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#right-icon {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#input-group {
  border-left: solid 1px rgb(144, 144, 145);
}

#search-input {
  flex: 6 !important;
}

#select-input {
  flex: 2 !important;
}
